.btn-chatbotex {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    color: white;
    background: rgb(66, 184, 221);
    padding: 6px;
    border-radius: 10px;
}

.btn-area {
    padding: 7px 20px;
    background-image: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.disabled {
    padding: 7px 20px;
    background-image: linear-gradient(0.25turn, #27475b, #8c9889, #c17633);
    pointer-events: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-link {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

#area {
    position: absolute;
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    right: 0;
    bottom: 0;
    min-width: 9vw;
    max-width: 10vw;
    height: -webkit-fill-available;
    max-height: 86vh;
    background: #e9ebee;
    z-index: 3;
}

#content {
    max-width: 90%;
}
